<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://postgresdatabasepublic.cx96u0a6s3vd.eu-central-1.rds.amazonaws.com:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">exampleexample</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="org.example.untitled.db.DocumentEntity"/>
    </session-factory>
</hibernate-configuration>